@model DevIO.App.ViewModels.FornecedorViewModel

<div>
    <div>
        <hr />
        <h4>Endereço</h4>
    </div>

    @if (Model != null)
    {
        <table class="table table-hover">
            <thead class="thead-dark">
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.Endereco.Logradouro)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Endereco.Numero)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Endereco.Complemento)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Endereco.Cep)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Endereco.Bairro)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Endereco.Cidade)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Endereco.Estado)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Endereco.FornecedorId)
                    </th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => modelItem.Endereco.Logradouro)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => modelItem.Endereco.Numero)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => modelItem.Endereco.Complemento)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => modelItem.Endereco.Cep)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => modelItem.Endereco.Bairro)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => modelItem.Endereco.Cidade)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => modelItem.Endereco.Estado)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => modelItem.Endereco.FornecedorId)
                    </td>
                    <td>
                        <a asp-action="AtualizarEndereco" asp-route-id="@Model.Id" data-toggle="modal" data-target="#myModal" data-modal="myModal" class="btn btn-info"><span title="Editar" class="fa fa-pencil-alt"></span></a>
                    </td>
                </tr>
            </tbody>
        </table>
    }
</div>
